/********************************************/
/*       configuração para desktop          */
/********************************************/
*{
    margin:  0px auto;
}

section.menu {
    position: fixed;
    align-self: center;
    padding-top: 10px;
    margin-right: 10px;
    width: 100%;
   /* height: auto;*/
    height: 50px;
    background-color:#EAF2FD;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.gap__menu {
    width: 100%;
    height: 63px;
    background-color: #4F4F4F /*#F0FFF0;
*/}

.gap {
    width: 100%;
    height: 57px;
    background-color: #F0FFF0;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-width: 0.5px;
    border-bottom: none;
    border-top-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin-left: 80px;
}

.menu__principal .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__principal__nav {
    width: 645px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 400px;
}

.menu__principal__nav a {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 0.1px;
    border-width: 1px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 10px 10px 10px 0 #000000;
}

.menu__principal__nav a:hover {
    transform: scale(1.03);
    transition: 0.5s all;
    color: white;
    background-color: #4f4f4f;
    border-radius: 8px;
}

h1 {
    font-size: 25px;
    margin-left: 5px;
    text-align: flex-start;
    color: black;
}

section.sobre {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Raleway';
    font-size: 16px;
    align-items: center;
    height: auto;
    background-color: #EAF2FD;
}

.sobre__container {
    justify-content: space-between;
    width: 60%;
    text-align: justify;
    height: 260px;
    margin-left: 80px;
}

.skills {
    background-color:  #F0FFF0;
}

.skills  h4 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    width: 100%;
    height: 100px;
    background-color: #F0FFF0;
}

.skills__total {
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    flex-wrap: wrap;
    text-align: center;
    align-self: center ;
    align-items: flex-start;
    width: auto;
    height: 350px;
    background-color:  #F0FFF0;
}

.skills__individual {
    padding: 50px;
    width: 100px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
    background-color: #C0C0C0;
    box-shadow: 10px 10px 10px 0 #000000;

}

.corpo__fotos__total {
    width: 100%;
    height: 290px;
    background-color:#4F4F4F; /*#F0FFF0; */
    display: flex;
    flex-direction: row;
} 

.corpo__fotos__individual {
    align-self: center;
    flex: 1;
    margin: 35px;  
}

#foto, #escritorio {
    margin-top: 30px;
    width: 380px;
    height: 279px;
    display: flex;
    box-shadow: 10px 10px 10px 0 #000000;
}

#escritorio {
    border-bottom-left-radius: 50px;
}

#foto {
   border-bottom-right-radius: 50px;
}

.corpo__fotos__individual img {
    align-items: center;
    align-self: center;
    border-style: solid;
    border-width: 1px;
    border-color: #808080; 
}

.corpo__fotos__individual p {
    display: flex;
    padding: 10px;
    margin-top: 30px;
    justify-content: center;
    color:  #C0C0C0;
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    border-radius: 10px;
    background-color: #4F4F4F;
    box-shadow: 10px 10px 10px 0 #000000;
}

.corpo__redes__total {
    width: 100%;
    height: 130px;
    background-color: black; 
    display: flex;
    flex-direction: row;
} 

.corpo__redes__individual {
    flex: 1;
    height: 120px;
    margin: 4px;
    background-color:  #808080; /*#F0FFF0; */
}

.corpo__redes__individual p {
    padding: 15px;
    margin: 30px;
    color:  #C0C0C0;
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: #4F4F4F;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 #000000;
}

.corpo__redes__individual a {    
    color:  #C0C0C0;
    text-decoration: none;

}

.corpo__redes__individual p:before {    
    content: "🟊";
}


.corpo__redes__individual p:after {    
    content: "🟊";
}

.corpo__redes__individual a:hover {    
    color: #1C1C1C;
}

.corpo__redes__individual p:hover {
    color: #1C1C1C;
    transform: scale(1.03);
    transition: 2s all;
    border-width: 1px;
    background-color: #808080;
}

.pontos__fortes__total {
    width: 100%;
    height: 100px; 
    color:  black;
    font-size: 20px;
    text-align: center;  
    display: flex;
    background-color:  #F0FFF0;
    flex-direction: row;
} 

.hobbies  h4 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    width: 100%;
    height: 100px;
    background-color: #F0FFF0;
}

.hobbies__total {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    background-color:  #F0FFF0;
}

.hobbies__individual {
    padding-top: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #C0C0C0;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0 #000000;

}

 .pontos__fortes h3 {
    text-align: center;
    font-size: 35px;
    height: 100px;
    background-color:  #F0FFF0;
}

.pontos__fortes__total p {
    width: 300px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
} 

.pontos__fortes__total p:before {
    content: "🟊";
}

.pontos__fortes__total a {    
    text-decoration: none;
    font-family: montserrat;
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.pontos__fortes__total a:hover {
    transform: scale(1.0);
    transition: 2s all;
    color: white;
}

.pontos__fortes__total p:hover {
    transform: scale(1.0);
    transition: 2s all;
    border-width: 1px;
    color: white;
    background-color: #808080;
}

.texto__gestao, .texto__curriculo {
    width: 99%;
    display: flax;
    border-width: 2px;
    border-color: black;
    background-color: #F0FFF0;
}

section.formacao {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #F0FFF0;
}

.formacao__titulo {
    display: flex;
    align-self: center;
    font-size: 35px;
    height: 50px;
}

.formacao__cursos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 150px;
    height: auto;
    background-color: #F0FFF0;
}

.formacao__cursos__total {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: 450px;
    background-color: #F0FFF0;
}

.formacao__cursos__item__img img {
    justify-content: space-around;
    display: flex;
    width: 300px;
    height: 286px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    list-style: none;
}

.formacao__cursos__individual {    
    list-style: none;
}

.formacao__cursos__item__titulo {
    margin-top: 10px;
    list-style: none;
}

.formacao__cursos__item__subtitulo {
    list-style: none;
}

section .experiencia {
    display: flex;
    justify-content: space-between;
    background-color:  #F0FFF0;
}

.experiencia {
    background-color:  #F0FFF0;
    height: auto;
}

.experiencia__total {
    width: 90%;
    margin-top: 50px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    background-color:  #F0FFF0;
}

.experiencia__titulo__total {
    display: flex;
    justify-content: center;
    background-color:  #F0FFF0;
    font-size: 35px;
}

.experiencia__img {
    display: flex;
    width: 752px;
    height: 406px;
    background-color:  #F0FFF0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.experiencia__info {
    margin-top: 10px;
    width: auto;
    height: auto;
    text-align: initial;
    padding: 10px;
    justify-content: flex-start;
    align-self: center;
    background-color:  #EAF2FD;
}

.experiencia__titulo {
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: 22px;
    list-style: none;
    background-color: #EAF2FD;
}

.experiencia__texto {
    margin-top: 15px;
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    background-color: #EAF2FD;
}

.experiencia__descricao {
    justify-content: center;
    width: auto;
    list-style: none;
    align-self: flex-start;
}

.experiencia__botao__repo {    
    width: 105px;
    height: 51px;
    font-size: 16px;
    color:  #2A7AE4;
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #2A7AE4;
}

.experiencia__botao__repo:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
    border-radius: 15px;
}

.experiencia__botao__demo {
    width: 105px;
    height: 51px;
    font-size: 16px;
    margin-left: 30px;
    color: #F5F5F5;
    background-color: #2A7AE4;
    border-style: solid;
    border-color: #2A7AE4;
}

.experiencia__botao__demo:hover {
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.1);
    border-radius: 15px;
}

.contato {
    background-color: #F0FFF0;
}

section .contato {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
}

.contato h1 {
    width: auto;
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.2;
}

.contato h2 {
    width: auto;
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.2;
}


.contato h3 {
    width: auto;
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.1;
}

.contato h1::before {
    content: "📧";
    display: block;
}

form {
    width: auto;
    max-width: 32rem;
    font-size: 1.10rem;

}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 95%;
}

.form label {
    color: black;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 5rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #C0C0C0;
    box-shadow: 0 0 0 3px;
}

.form button {
    width: 100%;
    display: block;
    padding: 1rem;
    background-color: #C0C0C0;
    color: black;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    color: white;
    background-color: #808080;
}

section .footer__rodape {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    color: blue; 
    background-color: #F0FFF0;
}


/********************************************/
/*       configuração para tablet           */
/********************************************/

 @media screen and (max-width:800px) {

section.menu {
    position: relative;
    margin-top: 0;
    margin-right: 10px;
    width: 99%;
    height: auto;
    border-style: solid;
}

section.gap {
    width: 100%;
    height: 70px;
    background-color: F5F5F5;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin-left: 10px;
}

.menu__principal .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__principal__nav {
    justify-content: center;
    border-width: 2px;
    width: 600px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.menu__principal__nav a {
    display: flex;  
    justify-content: center; 
    align-items: center;
    width: 80px;
    height: 30px;
    font-size: 18px;
    box-shadow: 5px 5px 5px 0 #000000;
}

h1 {
    font-size: 20px;
    margin-left: 5px;
    text-align: flex-start;
    color: black;
}

.corpo__fotos__total {
    position: relative;
    flex-direction: column;
    height: 1200px;
 }

.corpo__fotos__individual {
    width: 100%;
    height: 800px;
    display:  flex;
    flex-wrap: wrap;
    flex-direction: column;
 }

.corpo__fotos__individual p {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50px;
    font-size: 35px;
    text-align: center;
}

#escritorio {
    border-bottom-left-radius: 0px;
}

#foto {
    border-bottom-right-radius: 0px;
}

.corpo__redes__total {
    position: relative;
    flex-direction: column;
    height: 800px;
}

.corpo__redes__individual {
    flex-direction: column;
     height: 10px;
}

.corpo__redes__individual p {
    padding: 50px;
    height: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.corpo__redes__individual p:before {    
    content: none;
}

.corpo__redes__individual p:after {    
    content: none;
}

.sobre__container {
    height: 400px;
}

.skills h4 {
    position: relative;
    text-align: center;
}

.skills__total {
    height: 1800px;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1px;
}

.skills__individual {
    display: flex;
    flex-wrap: nowrap;
    padding: 50px;
    width: 400px;
    height: 30px;
    margin-top: 15px;
    font-size: 30px;
}

.pontos__fortes__total {
    justify-content: space-around;
    width: 100%;
    height: 400px;
    position: relative;
    flex-direction: column;
    font-size: 30px;
}

.pontos__fortes__total p {    
    width: 60%;
    height: 50px;
    padding-top: 20px;
    flex-direction: column;
    font-weight: 1px;
    font-size: 20px;
}

.pontos__fortes__total p:before {
    content: none;
}

.pontos__fortes__texto {
    width: auto;
}

.hobbies__total {
    height: 1400px;
    justify-content: space-around;
    flex-direction: column;
}

.hobbies__individual {
    padding: 50px;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    font-size: 30px;
}

.formacao__cursos {   
    align-items: center;
    flex-direction: column;
}

.formacao__cursos__item__img img {
    display: flex;
    justify-content: space-around;
    display: flex;
    width: 300px;
    height: 286px;
    border-style: solid;
    border-color: black;
    list-style: none;
}

section .experiencia {
    height: auto;
}

.experiencia__total {
    height: auto;
    flex-direction: column;
}

.experiencia__img {
    display: flex;
    width: 450px;
    height: 300px;
    background-color: #F5F5F5;
    border-style: solid;
    border-color: black;
}

.texto__gestao, .texto__curriculo {
    display: flax;
    border-width: 2px;
    border-color: black;
    background-color: #F0FFF0;
}

.contato {
    width: 100%;
}   

.contato__img {
    width: 300px;
    margin-left: 5px;
}   

.contato__texto {
    width: 95%;
    margin-left: -30px;
}

.contato__formulario textarea {
    width: 99%;
    height: 150px;
}
} 


/********************************************/
/*       configuração para celular          */
/********************************************/
@media screen and (max-width:600px) { 


section.menu {
    position: relative;
    top: 5px;
    margin-right: 5px;
    align-items: center;
    width: 99%;
    height: 30px;
    border-style: solid;
    border-width: 2px;
}

section.gap {
    width: 100%;
    height: 90px;
    top: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-left: 1px;
}

.menu__principal .container {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__principal .container img {
    width: 20px;

}

.menu__principal__nav {
    width: 340px;
    margin-left: 1px;
}


.menu__principal__nav a {
    width: 70px;
    height: 25px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 1px;
}

h1 {
    height: 35px;
    font-size: 0px;
    margin-left: 1px;
    text-align: flex-start;
    color: black;
}

.corpo__fotos__total {
    flex-direction: column;
    padding-top: 5px;
}

.corpo__fotos__individual p {
    font-size: 20px;
}

#escritorio {
    border-bottom-left-radius: 0px;
    width: 340px;
    height: 269px;
}

#foto {
    border-bottom-right-radius: 0px;
    width: 340px;
    height: 269px;
}

.corpo__redes__total {
    flex-direction: column;
}

.corpo__redes__individual p:before {    
    content: none;
}

.corpo__redes__individual p:after {    
    content: none;
}

.pontos__fortes__total {
    flex-direction: column;
    font-size: 20px;
}

.pontos__fortes__total p {    
    width: 85%;
    height: 60px;
    position: relative;
    flex-direction: column;
    font-size: 23px;
}

.pontos__fortes__individual {
    flex-direction: column;
    font-size: 20px;
}

.sobre__container {
    height: 450px;
}

.skills__total {  
    height: auto;
}
   
.skills__individual {    
    width: 200px;   
}

.hobbies__individual {    
    width: 200px;   
}

.formacao__titulo {
    font-size: 25px;
}

.formacao__cursos__item__img img {
    justify-content: center;
    margin-right: 40px;
}


.experiencia {
    height: auto;
}

.experiencia__titulo__total {
    font-size: 25px;
}

.experiencia__img {
    width: 300px; /*200px;*/
    height: 200px;
}

.experiencia__titulo {
    font-weight: 400;
    font-size: 15px;
}

.experiencia__texto {
    margin-top: 10px;
    font-weight: 300;
    font-size: 10px;
}

.experiencia__info {
    padding-left: 10px;
}

.experiencia__botao__repo {    
    width: 60px;
    height: 20px;
    font-size: 8px;
    margin-top: 10px;

}

.experiencia__botao__demo {
    width: 60px;
    height: 20px;
    font-size: 8px;
    margin-top: 10px;
}

.experiencia__total {
    padding-left: 10px;
}

.texto__gestao {
    width: 300px;
    height: 700px;
}

.texto__curriculo {
    width: 300px;
    height: 100hw;
}

.texto__gestao, .texto__curriculo {
    width: auto;
}
.contato form {
    width: 95%;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    align-items: center;
}


.contato__img {
    width: 140px;
    margin-left: 1px;
}   

.contato__texto {
    margin-left: 5px;
    font-size: 10px;
}

.contato__formulario {
    width: 95%;
    margin-right: 10px;
}

.sobre__container {
    height: 500px;
}

}